<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <% if (locals.message) { %>
    <div
      class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
      role="alert"
    >
      <%= message %>
    </div>
    <% } %>
    <div class="container">
        <h1>Home Page</h1>
    </div>
  
    <div id="books" class="container">
      <div class="row">
        <% books.slice(0, 5).forEach(book => { %>
          <div class="col-sm mt-2">
            <div class="card" style="width: 12rem;">
              <div class="card-body text-center">
                <img src="<%- book.formats['image/jpeg'] %>" class="card-img-top" alt="No image for this book" style="height:250px">
                    <h4><%= book.title %></h4>
                    <p><%= book.authors[0].name %></p>
                </div>
              </div>
          </div>
      <% }) %>
      </div>
      <div class="row">
        <% books.slice(5, 10).forEach(book => { %>
          <div class="col-sm mt-2">
            <div class="card" style="width: 12rem;">
              <div class="card-body text-center">
                <img src="<%- book.formats['image/jpeg'] %>" class="card-img-top" alt="No image for this book">
                    <h4><%= book.title %></h4>
                    <p><%= book.authors[0].name %></p>
                </div>
              </div>
          </div>
      <% }) %>
      </div>
    </div>

  <div class="container">
    <footer id="footer" class="text-center fixed-bottom bg-light">
      <div class="row">
      </div>
    </footer>
  </div>
</main>

<%- include ('../partials/footer') %>