<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
    <!--Displaying Favorites-->
    <table class="table">
        <h1><centre>Liked Books:</centre></h1>
        <thead>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Book Image</th>
            <th></th>
        </thead>
        <tbody>
            <% data.forEach(book=> { %>
                <tr>
                    <td>
                        <%= book.title %>
                    </td>
                    <td>
                        <%= book.author %>
                    </td>
                    <td>
                        <div>
                            <img src="<%- book.imageURL %>"></img>
                        </div>
                    </td>
                    <td>
                        Temp: To be "remove liked book" form
                    </td>
                </tr>
            <% }) %>
        </tbody>    
    </table>
    </div>
</main>

<%- include ('../partials/footer') %>