<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<style>
     div.search {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgb(41, 27, 27);
    background-color: rgb(197, 184, 184);
    border: 3px solid rgb(27, 24, 24);
    font-size: 20px;
    text-align: left;
  }

    div.search{
    margin:10px auto;
    max-width: 700px;
    padding: 20px 12px 10px 20px;
  }

  body { 
    background-color: rgb(233, 229, 223);
  }

  #tablestyle {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

    #tablestyle td, #tablestyle th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #tablestyle tr:nth-child(even){background-color: rgb(197, 184, 184);}

    #tablestyle tr:hover {background-color: #ddd;}

    #tablestyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(197, 184, 184);
    color: black;
}
</style>

<main>
    <body>
    <!--Search Reviews-->
    <div class="search">
        <!-- FORM CODE -->
        <h1><centre>Search Reviews:</centre></h1>
        <form action="/reviews" method="POST">
            <div class="mb-3">
                <label for="title">Book Title:</label>
                <input type="text" id="title" name="title" />
            </div>
            <div class="mb-3">
                <label for="author">Book Author:</label>
                <input type="text" id="author" name="author" />
            </div>
            <div class="mb-3">
                <label for="email">Review Author:</label>
                <input type="email" id="email" name="email" />
            </div>
            <div class="mb-3">
                <label for="rating">Review Rating:</label>
                <input type="number" id="rating" name="rating" min="1" max="10" step="0.1"/>
            </div>
            <!-- SUBMIT BUTTON CODE -->
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <!-- END SUBMIT BUTTON CODE -->
        </form>
        <!-- END FORM CODE -->
      </div>
    <div class="container">
    <!--Displaying Reviews-->
    <table class="table" id="tablestyle">
        <h1><centre>Reviews:</centre></h1>
        <thead>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Review Author</th>
            <th>Review Rating</th>
            <th>Book Cover</th>
        </thead>
        <tbody>
            <% data.forEach(review=> { %>
                <tr>
                    <td>
                        <%= review.title %>
                    </td>
                    <td>
                        <%= review.author %>
                    </td>
                    <td>
                        <%= review.email %>
                    </td>
                    <td>
                        <%= review.rating %>
                    </td>
                    <td>
                       <img src="<%- review.imageurl %>" alt="no image for book"> 
                    </td>
                </tr>
                <tr>
                    <th>
                        Review:
                    </th>
                    <td colspan="3">
                        <%= review.review %>
                    </td>
                </tr>
            <% }) %>
        </tbody>    
    </table>

    </div>
    </body>
</main>

<%- include ('../partials/footer') %>