<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">

    <!--Displaying Reviews-->
    <table class="table">
        <thead>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Review Author</th>
            <th>Review Rating</th>
        </thead>
        <tbody>
            <% data.forEach(review=> { %>
                <tr>
                    <td>
                        <%= review.title %>
                    </td>
                    <td>
                        <%= review.author %>
                    </td>
                    <td>
                        <%= review.email %>
                    </td>
                    <td>
                        <%= review.rating %>
                    </td>
                </tr>
            <% }) %>
        </tbody>    
    </table>

    </div>
</main>

<%- include ('../partials/footer') %>