<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <% if (locals.message) { %>
        <div
          class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
          role="alert">
          <%= message %>
        </div>
        <% } %>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->

    <h1><centre>Profile</centre></h1>

    <div class="container">
        <form action="" method="GET">
          <button type="submit" class="btn mt-3">Edit</button>
        </form>
      </div>

        

        <ul style = "list-style: none">    
            <li>   
                <label>Username:</label>
                <span>...</span>
            </li>

            <li> 
                <label>Age:</label>
                <span>...</span>
            </li>

            <li>   
                <label>Location:</label>
                <span>...</span>

            </li>

            <li>    
                <label>Favorite Book:</label>
                <span>...</span> 
            </li>

            <li>   
                <label>About Me:</label>
                <span>...</span>
            </li>
        </ul>
  </div>
  <body>
  <script type = "text/javascript" src = "../partials/user_stuff.js"></script>
  </body>

</main>

<%- include ('../partials/footer') %>

