<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <% if (locals.message) { %>
        <div
          class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
          role="alert">
          <%= message %>
        </div>
        <% } %>


  <div id="user" class="container">
            <h1><centre>Profile</centre></h1>


                    <ul style = "list-style: none;" width >
                        <div class="mb-3">
                            <li>   
                                Username: 
                                <%= data[0].username %>
                            </li>
                        </div>
                        <div class="mb-3">
                            <li>
                                Age: 
                                <%= data[0].user_age %>
                            </li>
                        </div>
                        <div class="mb-3">
                            <li>
                                Location:
                                <%= data[0].user_location %>
                            </li>
                        </div>
                        <div class="mb-3">
                            <li>
                                Favorite Book:
                                <%= data[0].favorite_book %>
                            </li>
                        </div>
                        <div class="mb-3">
                            <li>
                                About Me:
                                <%= data[0].about %>
                            </li>
                        </div>
                    </ul>   


    <div class="mb-3">
        <a href="/changeProfile">
        <button type="submit" class="btn btn-primary">Edit Profile</button>
    </div>
</div>

</main>

<%- include ('../partials/footer') %>

