<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <% if (locals.message) { %>
        <div
          class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
          role="alert">
          <%= message %>
        </div>
        <% } %>


  <div id="user" class="container">
      
    <h1><centre>Profile</centre></h1>

        <div class="mb-3">
            <label for="username">Username:</label>
        </div>
        
        <div class="mb-3">
            <label for="userAge">Age:</label>
        </div>

        <div class="mb-3">
            <label for="userLocation">Location:</label>
        </div>

        <div class="mb-3">
            <label for="favorite_book">Favorite Book:</label>
        </div>
        
        <div class="mb-3">
            <label for="about">About Me:</label>
        </div>

        <div class="mb-3">
            <a href="/changeProfile">
            <button type="submit" class="btn btn-primary">Edit Profile</button>
        </div>
    </form>
</div>

</main>

<%- include ('../partials/footer') %>

