<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <% if (locals.message) { %>
            <div
            class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
            role="alert">
            <%= message %>
            </div>
            <% } %>
        <div>
        <% if (data && data.length > 0) { %>
        <!--Displaying Reviews-->
        <table class="table">
            <h1><centre>Your Reviews:</centre></h1>
            <thead>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Review Rating</th>
                <th><!-- empty spot for delete --></th>
            </thead>
            <tbody>
                <% data.forEach(review=> { %>
                    <tr>
                        <td>
                            <%= review.title %>
                        </td>
                        <td>
                            <%= review.author %>
                        </td>
                        <td>
                            <%= review.rating %>
                        </td>
                        <td>
                            <form action="/deleteReview" method="POST">
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-info">Delete Review</button>
                                    <input type="hidden" id="title" name="title" value="<%- review.title %>"/>
                                    <input type="hidden" id="author" name="author" value="<%- review.author %>"/>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Review:
                        </th>
                        <td colspan="3">
                            <%= review.review %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>    
        </table>
        <% } else { %>
            <h1>You haven't posted any reviews yet!</h1>
        <% } %>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>